body {
  font-size: 30px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #eff5f8;
  color: #001b44;
}

h1 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
  font-size: 24px; font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
}

h2,
h3 {
  text-align: center;
}

button {
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-size: 1.2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  width: 8em auto;
  display: block;
}

  #quiz {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  justify-content: center;
  border-radius: 2px;
}

.answer {
  display: inline-block;
  width: 700px;
  align-items: center;
}

#score {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
}
/* .lastpage{ */
  #lastpage {
  display:flex;
  flex-direction: column;
  align-items: center;
}
